<div>
  <input type="date" [(ngModel)]="startDate" placeholder="Start Date">
  <input type="date" [(ngModel)]="endDate" placeholder="End Date">
  <button (click)="loadTransactions()">Load Transactions</button>

  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Comments</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ transaction.Comments }}</td>
      <td><a [routerLink]="['/transaction-detail', transaction.id]">View</a></td>
    </tr>
  </table>
</div>
